<!DOCTYPE html>
<html ng-app="App" >
<head >
	<meta charset="UTF-8">
	<title data-ng-bind="'学学 AngularJS | ' + $state.current.data.pageTitle"></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<br/>
	<div class="container">
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">
						<img alt="logo" width="20px" src="http://img.mukewang.com/user/541fe3040001f18401800180-40-40.jpg">
					</a>
				</div>
				<div class="collapse navbar-collapse" ng-controller="switchTab">
					<ul class="nav navbar-nav">
						<li class="active" ng-click="activeIt()" ng-class="{active:isAct}"><a href="#/index">index</a></li>
						<li ng-click="activeIt()" ng-class="{active:isAct}"><a href="#/list">list</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<input type="text" ng-model="test.txt"/>
		<p data-ng-bind="'INPUT文本:'+test.txt"></p>

		<div ui-view></div>

	</div>

	<script src="node_modules/angular/angular.js"></script>
	<script src="js/angular-ui-router.min.js"></script>
	<!--<script src="js/ui-bootstrap-0.12.0.min.js"></script>-->
	<script src="js/controllers.js"></script>
	<script src="js/app.js"></script>
</body>
</html>